
/* Header section */

header{
    background-color: black;
    font-family: Helvetica, sans-serif;
    color: seashell;
    opacity: 0.9;
    border-bottom: 1px soild seashell;
    height: 69px;
    flex: auto;
    position: fixed;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    
}
header img{
    height: 50px;
    margin: 10px;
    justify-content: left;
}

nav{
    
    
}

nav span{
    display: inline-block;
}

/*   <------- Body Section -------> */

